.App {
  text-align: center;
}

/* Background Video */

.video-container {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: -2;
}

.overlay {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: -1;
  background-color: rgb(71, 85, 85);
  opacity: 10%;
}

.cover-video {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.center-wrapper {
  margin: 0 auto;
}

.j-background {
  position: relative;
  background-color: unset;
}

.j-texture {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-image: url("./assets/texture.png");
  z-index: -1;
  opacity: 60%;
}

.professional-link {
  color: black;
  font-weight: bold;
}